<div class="header-container">
  <header> 
      <ul class="nav">
        
        <li><a href="{{ site.baseurl }}/"><span class="mega-octicon octicon-home" style="margin-right: 6px;"></span>Home</a></li>
        <li><a href="/archive"><span class="mega-octicon octicon-history" style="margin-right: 6px;"></span>Archive</a></li>
        <li><a href="/tags"><span class="mega-octicon octicon-tag" style="margin-right: 6px;"></span>Tags</a></li>
        <li><a href="/about"><span class="mega-octicon octicon-organization" style="margin-right: 6px;"></span>About</a></li>
        <li><a href="/atom.xml"><span class="mega-octicon octicon-rss" style="margin-right: 6px;"></span>Feed</a></li>
      </ul>
      
      <div style=" display: flex; align-items: center;"> 
      <a href="{{ site.baseurl }}/">
        <img class="intro" src="{{ base.url }}/public/butterfly.png"/>  
        </a>
        <span class="box">
          {{ site.intro }}
        </span>
      </div>
     
  </header>
</div>
